@{
    Layout = Layout;
}

<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Código</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Insira o código do livro">
  </div>
  <br/>
  <div class="form-group">
    <label for="exampleInputPassword1">Nome</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Insira o nome do livro">
  </div>      
  <br/>
  <button type="submit" class="btn btn-outline-success btn-lg">Cadastrar</button>
</form>