@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-row align-content-center">
    <div class="card" style="border-radius: 30px; margin: 2%; max-width: 600px" >
        <div class="card-header" style="border-radius: 30px 30px 0 0; background-color: #0a58ca; text-align: center; color: #b6d4fe">
            Cadastrar Livro
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>“Se não tivesse sempre um livro novo, nunca me sentiria feliz”.</p>
                <footer class="blockquote-footer">Santa Teresa de Jesus (1515-1582)</footer>
            </blockquote>
            <br/>
            <a class="btn btn-outline-success btn-lg">Cadastrar Livro</a>
        </div>
    </div>
    <div class="card" style="border-radius: 30px; margin: 2%; max-width: 600px">
        <div class="card-header" style="border-radius: 30px 30px 0 0; background-color: #0a58ca; text-align: center; color: #b6d4fe">
            Emprestar Livro
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>“Ler é a possibilidade de viajar para aqueles que não podem pagar as viagens”.</p>
                <footer class="blockquote-footer">Francis de Croisset (1887-1937)</footer>
            </blockquote>
            <br/>
            <a class="btn btn-outline-info btn-lg">Emprestar Livro</a>
        </div>
    </div>
</div>
<div class="d-flex flex-row align-content-center">
    <div class="card" style="border-radius: 30px; margin: 2%;max-width: 600px">
        <div class="card-header" style="border-radius: 30px 30px 0 0; background-color: #0a58ca; text-align: center; color: #b6d4fe">
            Devolver Livro
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>““Um bom livro é aquele que se abre com esperança e se fecha com proveito”.</p>
                <footer class="blockquote-footer">Amos Bronson Alcott (1799-1888)</footer>
            </blockquote>
            <br/>
            <a class="btn btn-outline-warning btn-lg">Devolver Livro</a>
        </div>
    </div>
    <div class="card" style="border-radius: 30px; margin: 2%;max-width: 600px">
        <div class="card-header" style="border-radius: 30px 30px 0 0; background-color: #0a58ca; text-align: center; color: #b6d4fe">
            Deletar Livro
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>“Ah, como é triste morrer quando há tantos livros que ainda não li!”.</p>
                <footer class="blockquote-footer">Marcelino Menendez y Pelayo (1856-1912)</footer>
            </blockquote>
            <br/>
            <a class="btn btn-outline-danger btn-lg">Apagar Livro</a>
        </div>
    </div>
</div>

